# cnmodel for Python 3.7+ with basic working environment
# Used by make_local_env.sh

# development utilities
black==19.10b0
flake8
vulture
Pint==0.14
isort==5.0.2
mypy==0.961
jupyterlab>=3.2.0
nb_black
pandoc
nbconvert
pytest==4.5.0
docutils<0.18
sphinx>=4.0
pyabf
PyPDF2

dandi
nwbinspector

Cython==0.29.17
dill==0.3.4
elephant==0.10.0
lmfit==1.0.3
matplotlib>=3.5.0
matplotlib-scalebar==0.5.1
mplcursors==0.5.1
neo>=0.9.0
nose==1.3.7
numba>=0.56.2  # ==0.51.  # 0.43.1
numpy==1.22.4
pandas>=1.5.0
quantities>=0.12.1
scipy==1.9.2
shapely  # required by ephys/montager
pynwb>=2.1.0
pyqt6>=6.4.0
pyqt6-sip>=13.4.0 # 4.19.19
# PyOpenGL==3.1.6
# PyOpenGL-accelerate==3.1.6
pyqtgraph==0.12.4
scikit_learn==1.0.2
seaborn>=0.11.0
six==1.12.0
tifffile
toml==0.10.2
xlrd>=1.0.0

# -e /Users/pbmanis/Desktop/Python/pyqtgraph
-e /Users/pbmanis/Desktop/Python/pylibrary
-e /Users/pbmanis/Desktop/Python/metaarray
-e /Users/pbmanis/Desktop/Python/ephys
# -e /Users/pbmanis/Desktop/Python/nwbinspector


